.button {
  margin: 1rem !important;
}
.task-container {
  .cards i {
    transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.5);
  }
  }
  .ui.fluid.card.todo-item {
    opacity: 1;
    &.filtered {
      display: none;
    }
    &.completed {
      span:first-of-type {
        text-decoration: line-through;}
    }
  }
}
